
.inbox-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .inbox-list {
    width: 30%;
    padding: 10px;
    border-right: 1px solid #ccc;
  }

  .chat {
    cursor: pointer;
    padding: 10px;
    border-bottom: 1px solid #eee;
  }
  
  .chat:hover {
    background-color: #f0f0f0;
  }

  .inbox {
    width: 80%;
    padding: 10px;
  }
  
  .inbox-header {
    padding: 10px;
    background-color: #f0f0f0;
    font-weight: bold;
  }
  
  .conversation {
    height: 78vh;
    overflow-y: auto;
    padding: 10px;
  }

  .messageinAdmin{
    padding: 5px;
    border-radius: 4px;
    margin-bottom: 4px;
  }
  
  .myMessage {
    background-color: #cce6ff; /* Màu nền cho tin nhắn của quản trị viên */
    color: #000; /* Màu chữ cho tin nhắn của quản trị viên */
    margin-left: 45px;
    
  }
  .userMessage {
    background-color: #ffffff; /* Màu nền cho tin nhắn của người dùng */
    color: #333; /* Màu chữ cho tin nhắn của người dùng */
    margin-right: 45px;
  }
  
  .send-text-section {
    margin-top: 10px;
  }
  
  .send-text-section input[type="text"] {
    width: calc(100% - 70px);
    padding: 5px;
    margin-right: 10px;
  }
  
  .send-text-section button {
    padding: 5px 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    cursor: pointer;
  }
  button{
    border: none;
  }