body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #ECECEC;
}

html{
  font-size: 65.5%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


.ant-carousel {
  .slick-next {
    &::before {
      content: '';
    };
    position: absolute;
    top: 50%;
    right: 0%;
  }
  .slick-prev { 
    &::before {
      content: '';
    };
    position: absolute;
    top: 50%;
    left: 0%;
    z-index: 1;
  }
}

.ant-carousel .slick-prev, 
.ant-carousel .slick-next {
  text-align: center;
  display: block;
  border: 2px solid #fff;
  border-radius: 100%;
  padding: 0.8% 0.8% 1.1% 0.8%;
  &:hover {
    background-color: #FF4D4F;
    border: 2px solid #FF4D4F;
  }
}
