.chat-box {
  position: fixed;
  bottom: 10px;
  right: 60px;
  width: 300px;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.chat-header {
  padding: 12px 16px;
  border-bottom: 1px solid #ccc;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.chat-header h2 {
  margin: 0;
  font-size: 18px;
  color: #333;
  font-weight: bold;
}

.close-button {
  background: none;
  border: none;
  font-size: 16px;
  cursor: pointer;
  color: #888;
}

.close-button:hover {
  color: #555;
}

.messages {
  height: 300px;
  overflow-y: auto;
  padding: 12px 16px;
 
}

.messages .conversation {
  margin-bottom: 16px;
}

.messages .conversation h3 {
  margin: 0 0 8px;
  font-size: 16px;
  color: #555;
}

.message {
  background-color: #f2f2f2;
  padding: 5px;
  border-radius: 4px;
  margin-bottom: 4px;
}

.new-message {
  padding: 12px 16px;
  border-top: 1px solid #ccc;
  display: flex;
}

.new-message input[type="text"] {
  width: calc(100% - 70px);
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-right: 8px;
}

.new-message button {
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  padding: 8px 16px;
  cursor: pointer;
}

.new-message button:hover {
  background-color: #0056b3;
}
.admin-message {
  background-color: #f0f0f0; /* Màu nền cho tin nhắn của quản trị viên */
  color: #000; /* Màu chữ cho tin nhắn của quản trị viên */
  margin-right: 15px;
}
.user-message {
  background-color: #cce6ff; /* Màu nền cho tin nhắn của người dùng */
  color: #333; /* Màu chữ cho tin nhắn của người dùng */
  margin-left: 15px;
}